// Brand Colors - Corporate
$official-corporate-red: 206, 17, 38;
$official-corporate-blue: 0, 63, 135;
$official-corporate-blue-pale: 154, 179, 213;
$official-corporate-blue-dark: 0, 51, 102;
$official-corporate-tan: 214, 206, 189;
$official-corporate-tan-pale: 233, 233, 228;
$official-corporate-tan-dark: 173, 157, 123;
$official-corporate-gray: 81, 83, 84;
$official-corporate-gray-pale: 133, 135, 135;
$official-corporate-gray-dark: 35, 37, 40;

// Brand Colors - Scouts BSA
$official-bsa-tan: 214, 206, 189;
$official-bsa-red: 206, 17, 38;
$official-bsa-olive: 36, 62, 44;

// Brand Colors - Cub Scouts
$official-cs-blue: 0, 63, 135;
$official-cs-gold: 252, 209, 22;

// Fonts
$official-font-primary: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$official-font-secondary: 'Roboto Condensed', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$official-font-tertiary: 'Roboto Condensed', 'Helvetica Neue', Helvetica, Arial, sans-serif;
