// Brand Colors - Corporate
$official-corporate-red: rgba(206, 17, 38, 1);
$official-corporate-blue: rgba(0, 63, 135, 1);
$official-corporate-blue-pale: rgba(154, 179, 213, 1);
$official-corporate-blue-dark: rgba(0, 51, 102, 1);
$official-corporate-tan: rgba(214, 206, 189, 1);
$official-corporate-tan-pale: rgba(233, 233, 228, 1);
$official-corporate-tan-dark: rgba(173, 157, 123, 1);
$official-corporate-gray: rgba(81, 83, 84, 1);
$official-corporate-gray-pale: rgba(133, 135, 135, 1);
$official-corporate-gray-dark: rgba(35, 37, 40, 1);

// Brand Colors - Scouts BSA
$official-bsa-tan: rgba(214, 206, 189, 1);
$official-bsa-red: rgba(206, 17, 38, 1);
$official-bsa-olive: rgba(36, 62, 44, 1);

// Brand Colors - Cub Scouts
$official-cs-blue: rgba(0, 63, 135, 1);
$official-cs-gold: rgba(252, 209, 22, 1);

// Fonts
$official-font-primary: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$official-font-secondary: 'Roboto Condensed', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$official-font-tertiary: 'Roboto Condensed', 'Helvetica Neue', Helvetica, Arial, sans-serif;
