$official-bsa-red: rgb(206, 17, 38);
$official-bsa-blue: rgb(0, 63, 135);
$official-bsa-blue-pale: rgb(154, 179, 213);
$official-bsa-blue-dark: rgb(0, 51, 102);
$official-bsa-tan: rgb(214, 206, 189);
$official-bsa-tan-pale: rgb(233, 233, 228);
$official-bsa-tan-dark: rgb(173, 157, 123);
$official-bsa-gray: rgb(81, 83, 84);
$official-bsa-gray-pale: rgb(133, 135, 135);
$official-bsa-gray-dark: rgb(35, 37, 40);

$official-cs-blue: rgb(0, 63, 135);
$official-cs-gold: rgb(252, 209, 22);
