@import 'variables';

html {
    --scout-primary: rgb(#{$official-corporate-blue-dark});
    --scout-primary-values: #{$official-corporate-blue-dark};
    --scout-primary-contrast: rgb(255, 255, 255);
    --scout-secondary: rgb(#{$official-corporate-red});
    --scout-secondary-values: #{$official-corporate-red};
    --scout-secondary-contrast: rgb(255, 255, 255);
}
