@import 'variables';

html[data-theme='cub'] {
    --scout-primary: rgb(#{$official-cs-blue});
    --scout-primary-values: #{$official-cs-blue};
    --scout-primary-contrast: rgb(255, 255, 255);
    --scout-secondary: rgb(#{$official-cs-gold});
    --scout-secondary-values: #{$official-cs-gold};
    --scout-secondary-contrast: rgb(#{$official-cs-blue});
}
