@import 'variables';

html[data-theme='cub'] {
    --scout-header-primary: #{$official-cs-blue};
    --scout-header-secondary: #{$official-cs-gold};
    --scout-header-foreground: #fff;
    --scout-header-foreground-active: #{$official-cs-blue};
}
