@import 'variables';

html[data-theme='bsa'] {
    --scout-primary: rgb(#{$official-bsa-olive});
    --scout-primary-values: #{$official-bsa-olive};
    --scout-primary-contrast: rgb(255, 255, 255);
    --scout-secondary: rgb(#{$official-bsa-tan});
    --scout-secondary-values: #{$official-bsa-tan};
    --scout-secondary-contrast: rgb(#{$official-bsa-olive});
}
