@import '../../../styles/variables';

.scout-header {
    background: $official-corporate-blue;
    border-bottom: 0.25rem solid $official-corporate-red;
    color: #fff;
    box-shadow: 0 0.125rem 0.125rem 0 rgba(0, 0, 0, 0.14), 0 0.1875rem 0.0625rem -0.125rem rgba(0, 0, 0, 0.2), 0 0.0625rem 0.3125rem 0 rgba(0, 0, 0, 0.12);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    font-size: 0.875rem;
    font-weight: 300;
    font-family: $official-font-primary;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 5000;

    svg {
        width: 4.0625rem;
        height: 4.6875rem;
        position: absolute;
        top: 0;
        left: 1rem;
        z-index: 5001;
    }

    img {
        z-index: 9000;
        position: absolute;
        top: 0.225rem;
        left: calc((4.0625rem / 2) - (3.125rem / 2) + 1rem);
    }

    .scout-title {
        margin-left: calc(1rem + 4.0625rem + 0.65rem);

        h1 {
            margin: 0;
            font-size: 1.1rem;
            padding: 0;
            margin-top: -0.475rem;
            font-weight: 300;
        }

        h2 {
            margin: 0;
            padding: 0;
            font-size: 0.7rem;
            font-weight: 300;
            margin-bottom: -0.475rem;
        }
    }

    ul {
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0;

        li {
            padding: 0;
            margin: 0;
            list-style: none;

            a {
                display: block;
                color: #fff;
                margin: 0;
                padding: 0.875rem 1rem;
                text-decoration: none;
                font-weight: 300;

                &:hover {
                    background-color: rgba(255, 255, 255, 0.1);
                    color: #fff;
                    text-decoration: none;
                }

                &:focus {
                    color: #fff;
                }

                &.active {
                    background-color: $official-corporate-red;
                    color: #fff;
                }
            }
        }
    }
}

html[data-theme='cub'] {
    .scout-header {
        background-color: $official-cs-blue;
        border-bottom-color: $official-cs-gold;

        ul {
            li {
                a {
                    &.active {
                        background-color: $official-cs-gold;
                        color: $official-cs-blue;
                    }
                }
            }
        }
    }
}

html[data-theme='bsa'] {
    .scout-header {
        background-color: $official-bsa-olive;
        border-bottom-color: $official-bsa-tan;

        ul {
            li {
                a {
                    &.active {
                        background-color: $official-bsa-tan;
                        color: $official-bsa-olive;
                    }
                }
            }
        }
    }
}
