@import '../../../styles/variables';

.scout-footer {
    background-color: rgba($official-corporate-blue-dark, 0.5);
    color: #fff;
    text-align: center;
    padding-top: 1.5rem;

    .scout-footer-top {
        ul {
            display: flex;
            justify-content: space-evenly;
            flex-direction: row;
            padding: 0;

            li {
                padding: 0;
                margin: 0;
                list-style: none;

                @keyframes fadeIn {
                    from {
                        border-bottom: 0.125rem solid rgba(255, 255, 255, 0);
                    }
                    to {
                        border-bottom: 0.125rem solid rgba(255, 255, 255, 0.8);
                    }
                }

                a {
                    display: block;
                    color: #fff;
                    font-weight: 500;
                    margin: 0;
                    padding: 0.125rem;
                    text-decoration: none;
                    border-bottom: 0.125rem solid rgba(255, 255, 255, 0);

                    &:hover {
                        border-bottom: 0.125rem solid rgba(255, 255, 255, 0.8);
                        animation-name: fadeIn;
                        animation-duration: 1s;
                    }

                    &:focus {
                        border-bottom: 0.125rem solid rgba(255, 255, 255, 0.7);
                    }
                }
            }
        }
    }

    .scout-footer-bottom {
        background-color: $official-corporate-blue-dark;
        padding: 0.75rem 0;
    }
}
